/**
*
* Styles for informes
*
*/
.error { color:red; margin-left: 5px; }
ul.pdf-list li , ul.excel-list li  { display: inline-block; min-width: 300px; font-size: 14px; }
ul.pdf-list li i, span { display: inline-block; vertical-align: middle;}
ul.excel-list li i, span { display: inline-block; vertical-align: middle;}
ul.pdf-list li i, ul.excel-list li i.icon-excel  { 
	background-image: url('../images/excel-icon.png');
	background-repeat: no-repeat;
	width: 34px;
	height: 32px;
	margin-right: 10px;
}

ul.pdf-list li span.filename, ul.excel-list li span.filename { width: 80px;	text-align: center; } 

ul.pdf-list li i, ul.excel-list li i.icon-pdf  { 
	background-image: url('../images/pdf-icon.png');
	background-repeat: no-repeat;
	width: 34px;
	height: 32px;
	margin-right: 10px;
}

ul.pdf-list li .progress-bar, ul.excel-list li .progress-bar{

	width: 0;
	height: 13px;
	background-color: #004D79;
	margin-left: 10px;

	-webkit-transition( width, 400ms );
	-moz-transition( width, 400ms );
	transition( width, 400ms );
}

ul.pdf-list li .percentage{	margin-left: 10px; }
ul.excel-list li .percentage{	margin-left: 10px; }

ul.excel-parse-list li.progress, .truncate-label.progress {
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	background-color: #FFF;
	border: 1px solid #AFAFAF;
	font-size: 13px;
}

ul.excel-parse-list li.success, .truncate-label.success {
	color: #008000;
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	background-color: #CBF3DD;
	border: 1px solid #009E3F;
	font-size: 13px;
}

ul.excel-parse-list li.error, .truncate-label.error {
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #9E0000;
	color: #99000C;
	background-color: #F6DFE0;
	font-size: 13px;
}

.icon-48-logo{  background: url('../images/logo.png') 0 0 no-repeat; }

.import-label { display: none; width: 100%; margin-top: 15px; }

.notificar-label { display: none; width: 100%; margin-top: 15px; }

#importar-datos, #notificar-usuarios{
	padding: 8px 17px;
	margin-bottom: 6px;
	background-color: #000;
	color: #FFF;
	opacity: 0.2;
}

.importar-datos, .notificar-usuarios{
	display: none;
}


#importar-datos:hover, #notificar-usuarios:hover {
	background-color: #960000;
	text-decoration: none;
}

.pdf-upload-status {
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 15px 0;
	background-color: #FFF;
	border: 1px solid #ADADAD;
	font-size: 14px;
}

.pdf-upload-status.success { background-color: #D0EEDE; border: 1px solid #2B8D46; }
.pdf-upload-status.error { background-color: #EED0D0; border: 1px solid #AA2B2B; }
.pdf-upload-status.warning { background-color: #FFFBE0; border: 1px solid #E6B95C; }

.pdf-upload-status-list { display: none; }
.pdf-upload-status-list li { margin: 15px 0; padding: 0; }
.pdf-status-bar, .pdf-total-bar { position: relative; }
.pdf-status-bar .bar-inside, .pdf-total-bar .bar-inside {
	display: inline-block;
	width: 0%;
	height: 30px;
	background-color: #058DB8;
	color: #FFF;
	text-align: center;
}

.bar-inside.success { background-color: #11A056; color: #FFF; }

.pdf-status-bar .bar-message, .pdf-total-bar .bar-message {
	position: absolute;
	top: 6px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	text-align: center;
	color: #0D495C;
}

.pdf-total-title {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.pdf-error-list { display:none; color: #F00; }

.excel-reporte {
	display: none;
	background-color: #FFFAE7;
	padding: 12px;
	font-size: 14px;
}

.excel-reporte ul { color: green; } 

.excel-log {
	background: #FFF;
	padding: 14px;
	font-size: 14px;
}

.pdf-log {
	display: none;
	padding: 13px;
	background-color: #FFF;
	font-size: 12px;
}

.pdf-log span {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.sedes ul li{
	width: 8%;
	float: left;
}

.sedes select{
	margin: 3px 5px 5px 0 !important;
}

#floatingCirclesG{
	display: none;
position:relative;
width:148px;
height:148px;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
	margin: 0 auto;
}

.f_circleG{
position:absolute;
background-color:#408CC7;
height:27px;
width:27px;
-moz-border-radius:13px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.28s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:13px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.28s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:13px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.28s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:13px;
-o-animation-name:f_fadeG;
-o-animation-duration:1.28s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:13px;
animation-name:f_fadeG;
animation-duration:1.28s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:61px;
-moz-animation-delay:0.48s;
-webkit-animation-delay:0.48s;
-ms-animation-delay:0.48s;
-o-animation-delay:0.48s;
animation-delay:0.48s;
}

#frotateG_02{
left:17px;
top:17px;
-moz-animation-delay:0.64s;
-webkit-animation-delay:0.64s;
-ms-animation-delay:0.64s;
-o-animation-delay:0.64s;
animation-delay:0.64s;
}

#frotateG_03{
left:61px;
top:0;
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

#frotateG_04{
right:17px;
top:17px;
-moz-animation-delay:0.96s;
-webkit-animation-delay:0.96s;
-ms-animation-delay:0.96s;
-o-animation-delay:0.96s;
animation-delay:0.96s;
}

#frotateG_05{
right:0;
top:61px;
-moz-animation-delay:1.12s;
-webkit-animation-delay:1.12s;
-ms-animation-delay:1.12s;
-o-animation-delay:1.12s;
animation-delay:1.12s;
}

#frotateG_06{
right:17px;
bottom:17px;
-moz-animation-delay:1.28s;
-webkit-animation-delay:1.28s;
-ms-animation-delay:1.28s;
-o-animation-delay:1.28s;
animation-delay:1.28s;
}

#frotateG_07{
left:61px;
bottom:0;
-moz-animation-delay:1.44s;
-webkit-animation-delay:1.44s;
-ms-animation-delay:1.44s;
-o-animation-delay:1.44s;
animation-delay:1.44s;
}

#frotateG_08{
left:17px;
bottom:17px;
-moz-animation-delay:1.6s;
-webkit-animation-delay:1.6s;
-ms-animation-delay:1.6s;
-o-animation-delay:1.6s;
animation-delay:1.6s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#408CC7}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#408CC7}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#408CC7}

}

@-o-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#408CC7}

}

@keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#408CC7}

}


.em-over-screen{
    display: none;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(14, 46, 61, 0.9);
    color: #FFF;
    padding-top: 20%;
}

.em-over-screen h4{
	display: none;
	font-size: 25px;
}