.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
	background: url("../images/switch.gif") repeat-x scroll 0% 0% transparent;
	width: auto ! important;
	float: left ! important;
	display: block ! important;
	padding: 0px ! important;
	min-width: 20px ! important;
	margin: 0px ! important;
	text-align: center ! important;
}

.cb-enable span, .cb-disable span {
	line-height: 30px;
	display: block;
	font-weight: bold;
	padding: 0px 10px ! important;
	background: none repeat scroll 0% 0% transparent;
}

.cb-enable, .cb-disable {
	border-right: 1px solid #CCCCCC;
}

.cb-enable:hover {
	background-position: 0px -90px;
}

.cb-disable:hover {
	background-position: 0px -90px;
}

.cb-last {
	border-right: none;
}

.cb-first span {
	background: url("../images/switch.gif") no-repeat scroll left -120px transparent;
}

.cb-first span:hover {
	background-position: left -210px;
}

.cb-last span {
	background: url("../images/switch.gif") no-repeat scroll right -240px transparent;
}

.cb-last span:hover {
	background-position: right -330px;
}

.cb-enable.cb-first.selected span {
	background-position: left -180px;
}

.cb-disable.cb-first span:hover {
	background-position: left -210px;
}

.cb-disable.cb-first:hover {
	background-position: left -90px;
}

.cb-disable.cb-first.selected {
	background-position: left -30px;
}

.cb-disable.cb-first.selected span {
	background-position: left -150px;
}

.cb-enable.cb-last.selected span {
	background-position: right -300px;
}

.cb-disable.cb-last.selected span {
	background-position: right -270px;
}

.cb-disable.cb-last:hover {
	background-position: right -90px;
}

.cb-disable.cb-last span:hover {
	background-position: right -330px;
}

.cb-disable.cb-last.selected {
	background-position: left -30px;
}

.cb-disable.cb-last.selected span{
	background-position: right -270px;
}

.cb-enable.selected {
	background-position: 0px -60px;
	color: #FFFFFF;
}

.cb-disable.selected {
	background-position: 0px -30px;
	color: #FFFFFF;
}

fieldset.radio.btn-group {
	margin: 0px ! important;
}

.radio.btn-group label {
	cursor: pointer;
}