#accordion{
	width: 100%;
	margin: 0 auto;
	clear: both;

	.ui-accordion-header{
		padding: 10px 7px 10px 30px;
		font-size: 16px;
		font-family: @app_open;
		color: @blanco;
		text-transform: uppercase;
		margin: 0;
		background-color: #006CBB;
		border: 1px solid rgba(102, 102, 102, 0.42);
		border-radius: 4px;
		background-image: url("../templates/latianalisis/images/img-mas.png");
		background-repeat: no-repeat;
		background-position: 98%;
	}

	.ui-state-active{
		background-image: url("../templates/latianalisis/images/img-menos.png");
		background-repeat: no-repeat;
		background-position: 98%;
		background-color: #008ED5;
	}

	.ui-accordion-content{
		border: none;
		height: auto!important;
		.texto_claro;
		 text-align: center;
	}
}

.name_nit{
	.button_degrade;
	width: 99%;
	border: 1px solid #ccc;
	font-size: 19px;
	font-family: @app_open;
	display: inline-block;
	color: #4C4C4C;
	padding: 0 10px;
	margin-top: 30px;
	padding: 8px 0;
	margin-bottom: 12px;
	border-radius: 5px;
	box-shadow: 0 1px 2px 1px #ccc;

	.name_detail{
		width: 40%;
		float: left;
		text-align: left;
		margin-left: 20px;

	}

	.nit_detail{
		float: right;
		width: 40%;
		text-align: right;
		margin-right: 20px;

		span{
			display: inline-block;
			width: auto;

			&.nit_azul{
				color: @azulsubtitulos;
				padding-right: 5px;
			}
		}
	}
}

.descripcion_empresa{
	color: @oscuro;
	font-size: 15px;
	font-family: @app_open;
	line-height: 22px;
	text-align: justify;
	padding: 20px 5px;
}