// estilo de el menu con (tabs)

#menu_component{
	width: 1000px;
	margin:50px auto 20px;
	background: url("../templates/latianalisis/images/sombra-barra.png") no-repeat;
	background-position: bottom center;
	padding-bottom: 22px;
	ul.tabs{
		button.tabs;
		width: 980px;
		padding: 0 10px;
		border-radius: 5px;

		li{
			display: inline-block;
			padding: 8px 0;
			border-right: 1px solid #ccc;
			padding-right:  5px;

			a{
				font-size: 19px;
				font-family: @app_open;
				color: @oscuro;
				text-decoration: none;
				padding: 10px 20px 14px;
				display: inline-block;
				border: 1px solid transparent;
				.t_dos;

				&:hover{
					button.hover;
					padding: 10px 20px 14px;
				}
			}	

			&.active{
				button.active;
				padding: 0;
				color: @blanco;

				a{color: @blanco;}
			}
		}
	}
}

#content_component{
	.component_degrade;
	position: relative;
	padding: 50px 0 70px;
	box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.21);
	border-radius: 0 0 7px 7px;

	&:before{
		.degrade_top_content;
		width: 1000px;
		height: 15px;
		content: "";
		position: absolute;
		top: 0;
		left: 0;

	}
	.tites_component{ text-align: center;
		margin: 0 0 40px ;
		h3{
			background: @blanco;
			padding: 6px 6px 6px 30px;
			border: 1px solid #ccc;
			border-radius: 7px;
			background: url("../templates/latianalisis/images/lupa.png") no-repeat;
			background-position: left center;
			color: @azul_hover;
			font-family: @app_open;
			display: inline-block;
			font-weight: bold;
			font-size: 21px;
		}
	}
	.buscadores{
		width: 100%;
		text-align: center;

		.desc_search{
			color: @oscuro;
			font-family: @app_open;
			font-size: 17px;
			margin: 12px auto;
			width: 525px;
			text-align: left;

			span{color: #ADACAC;}
			strong{color: #000;}
		}
	}
}
.subtitles_component{ text-align: center;
	margin: 0 0 40px ;
	h4{
		
		padding: 6px 12px 6px 12px;
		border-bottom: 1px solid #ccc;
		background-position: left center;
		color: @azul_hover;
		font-family: @app_open;
		display: inline-block;
		font-weight: bold;
		font-size: 18px;
	}
}