header {
	width: 100%;
	float: left;
	text-align: center;
	position: relative;
	.logo{
		width: 1000px;
		line-height: 1px;
		margin: 0 auto;
		img{
			float: left;
		}
		iframe{
		width: 247px;
		height: 201px;
		border:none;
		position: relative;
		z-index: 2;
		}		
	}
}

.header-top{
	width: 100%;
	float: left;
	border-top: 6px solid #016CBC;
	position: relative;
	z-index: 2;position: relative;
		z-index: 2;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 1900px;
		height: 300px;
		background-image: url('../images/mask1.png');
		z-index: 2;
	}
	nav {
		display: inline-block;
		position: fixed;
		float: left;
		background: none;
		z-index: 3;
		left: 0;
		top: 6px;
		&:before{
			content: "";
			position: absolute;
			background-image: url('../images/botones/boton-menu.png');
			z-index: 1;
			width: 119px;
			height: 60px;
			left: 0;
			background-position: 0px 0px;
			background-repeat: no-repeat;
		}

		.menu1 {
		display: inline-block;
		float: left;
		width: 100%;
		margin: 0 auto;
			ul{
				float: left;
				padding: 0;
				margin: 0;
			}

			li {
				display: inline-block;
				position: relative;
				z-index: 2;
				&:hover{
						ul{
							max-height: 610px;
						}
					}
					a {
						color: #FFF;
						text-decoration: none;
						padding: 10px 0px 10px 40px;
						display: inline-block;
						font-family: 'Fjalla One', sans-serif;
						font-size: 18px;
						font-weight: lighter;
						width: 100%;

					&:hover {
						-ms-transform: scale(1.04); /* IE 9 */
					   -webkit-transform: scale(1.04); /* Chrome, Safari, Opera */
					   transform: scale(1.04);
					   opacity: 0.9;
					   transition:all 0.3s;
					   color: #FFF;
					   text-shadow: 1px 1px 1px #000;
					}
				}

				ul{
					max-height: 0;
					min-height: 0px;
					overflow: hidden;
					position: absolute;
					z-index: 999;
					top: 40px;
					left: 0;
					transition: max-height .8s .5s;
					-moz-transition: max-height .8s .5s;
					-o-transition: max-height .8s .5s;
					-webkit-transition: max-height .8s .5s;
					margin-top: 8px;

					li{
						display: block;
						border: none;
						background-color: #008ED6;
						border-bottom: 1px solid #FFF;
						width: 118px;
						text-align: center;
						margin: 0;
						padding: 0;
						border-left: 1px solid #FFF;
						&:last-child{
							border-bottom-left-radius: 10px;
							border-bottom-right-radius: 10px;
						}
						a{
							padding:11px 0;
							font-size: 16px;
						}
					}
	 			}
			}
		}
	}
	.login{
		width: 1000px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
	}
}

main{
	width: 100%;
	float: left;
	
	.content-all{
		width: 1000px;
		margin: 0 auto;
		z-index: 1;
		position: relative;

		p{
			font-family: 'Arial Narrow';
			font-size: 18px;
			line-height: 18px;
			text-align: justify;
		}

		.text_azul{
			font-family: 'Fjalla One', sans-serif;
			color: @azultitulos;
			font-size: 20px
		}

		h2{
			font-family: 'Fjalla One', sans-serif;
			font-size: 46px;
			margin-bottom: 25px;
			color: @azultitulos;
			text-transform: uppercase;
			padding: 0 25px 0 15px;
		}

		.texto-azul{
			font-family: 'Fjalla One', sans-serif;
			font-size: 16px;
			color: @azulsubtitulos;
			padding-top: 35px;
			display: inline-block;
			padding-right: 5px;
		}
		.titulo-azul{
			font-family: 'Fjalla One', sans-serif;
			font-size: 18px;
			color: @azulsubtitulos;
			padding-top: 35px;
			display: block;
			padding-right: 5px;
			margin-bottom: 5px;
		}
	}
}		

footer {
	width: 100%;
	margin: 0 auto;
	background-image: url('../images/footer.png');
	background-position: center top;
	background-repeat: no-repeat;
	float: left;
	position: relative;
	z-index: 2;
	min-height: 162px;

	.contenedor-footer{
		width: 1000px;
		margin: 0 auto;
		top: 110px;
		position: relative;

		.info {
			margin: 0 auto 0  50px;
			display: inline-block;
			position: relative;
			font-family: 'Arial Narrow';
			font-size: 18px;
			float: left;
			color: #FFF;
			text-align: left;
			table{
				margin: 0 auto;
				display: inline-block;
				position: relative;
				line-height: 18px;
				tr{
					td{
						&:nth-child(3){
							padding-left: 20px;
						}
						img{
							vertical-align: middle;
							margin-top: -2px;
						}
					}
				}
			}
			p{
				line-height: 15px;
				text-align: center;
			}

			a{
				text-decoration: none;
				color: #000;
			}
		}
		.copy{

			display: inline-block;
			font-family: 'Arial Narrow';
			font-size: 18px;
			color: #FFF;
			float: right;
			margin: 8px 50px 0 auto;
			position: relative;
			z-index: 10;
			
			.sainet{
				img{
					vertical-align: middle;
				}

				a{
					text-decoration: none;
					font-size: 18px;
					color: #FFF;
					font-weight: lighter;
				}
			}
		}	
	}
}

#system-message-container{
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	color: @azulsubtitulos;


	#system-message{
		box-shadow: 1px 1px 5px 1px #ccc;
		padding: 5px 0;
	}

	dt{display: inline-block;}
	dd{display: inline-block;}

	.error{
		color: red;
	}
}