/**
* Base template
*
*/
body, html {overflow-x: hidden;}

body {
	line-height: 1;
	margin: 0 auto;
	background-position: center top;
	background-image: url('../images/fondo.png');
}

#jcemediabox-popup-info-bottom{
	position:none;
}

#jcemediabox-popup-closelink{
	width: 20px;
	height: 20px;
	bottom: 0;
	top: -8px;
	right: -10px;
	position: absolute;
	float: right;
	border: none;
	border-radius: 50%;
}