// Estilos de el buscar

.buscador{
	display: inline-block;
	box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.21);
	border-radius: 5px;
	input{
		width: 450px;
		border:1px solid #ccc;
		padding: 7px 0 10px;
		border-radius: 5px 0 0 5px;
		font-family: @app_open;
		font-size: 15px;
		color: @oscuro;
	}
	label{
		background: #0097CB;
		border: 1px solid rgba(0, 142, 213, 0.35);
		font-family: @app_open;
		display: inline-block;
		font-size: 19px;
		border-radius: 0 5px 5px 0;
		color: @blanco;
		text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
		box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.21);
		padding: 7px 7px 11px;
		margin-left: -5px;
	}

	&:hover{.buscador.hover;} 
}

.buscador.hover{
	display: inline-block;
	box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.21);
	border-radius: 5px;
	input{
		width: 450px;
		border:1px solid #2DADED;
		border-bottom: none;
		padding: 7px 0 10px;
		border-radius: 5px 0 0 5px;
		font-family: @app_open;
		font-size: 15px;
		color: @oscuro;
	}
	label{
		background: @azul_hover;
		border: 1px solid rgba(0, 142, 213, 0.35);
		font-family: @app_open;
		display: inline-block;
		font-size: 19px;
		border-radius: 0 5px 5px 0;
		color: @blanco;
		text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
		box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.21);
		padding: 7px 7px 11px;
		margin-left: -5px;
	}
}