/* Banner */
header {
	width: 100%;
	float: left;
	text-align: center;
	position: relative;
	.logo{
		width: 1000px;
		line-height: 1px;
		margin: 0 auto;
		img{
			float: left;
		}
		iframe{
		width: 247px;
		height: 201px;
		border:none;
		position: relative;
		z-index: 2;
		}		
	}
}

/* Header */

.header-top{
	width: 100%;
	float: left;
	border-top: 6px solid #016CBC;
	position: relative;
	z-index: 2;position: relative;
		z-index: 2;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 1900px;
		height: 300px;
		background-image: url('../images/mask1.png');
		z-index: 2;
	}
	nav {
		display: inline-block;
		position: fixed;
		float: left;
		background: none;
		z-index: 3;
		left: 0;
		top: 6px;
		&:before{
			content: "";
			position: absolute;
			background-image: url('../images/botones/boton-menu.png');
			z-index: 1;
			width: 119px;
			height: 60px;
			left: 0;
			background-position: 0px 0px;
			background-repeat: no-repeat;
		}

		.menu1 {
		display: inline-block;
		float: left;
		width: 100%;
		margin: 0 auto;
			ul{
				float: left;
				padding: 0;
				margin: 0;
			}

			li {
				display: inline-block;
				position: relative;
				z-index: 2;
				&:hover{
						ul{
							max-height: 610px;
						}
					}
					a {
						color: #FFF;
						text-decoration: none;
						padding: 10px 0px 10px 40px;
						display: inline-block;
						font-family: 'Fjalla One', sans-serif;
						font-size: 18px;
						font-weight: lighter;
						width: 100%;

					&:hover {
						-ms-transform: scale(1.04); /* IE 9 */
					   -webkit-transform: scale(1.04); /* Chrome, Safari, Opera */
					   transform: scale(1.04);
					   opacity: 0.9;
					   transition:all 0.3s;
					   color: #FFF;
					   text-shadow: 1px 1px 1px #000;
					}
				}

				ul{
					max-height: 0;
					min-height: 0px;
					overflow: hidden;
					position: absolute;
					z-index: 999;
					top: 40px;
					left: 0;
					transition: max-height .8s .5s;
					-moz-transition: max-height .8s .5s;
					-o-transition: max-height .8s .5s;
					-webkit-transition: max-height .8s .5s;
					margin-top: 8px;

					li{
						display: block;
						border: none;
						background-color: #008ED6;
						border-bottom: 1px solid #FFF;
						width: 118px;
						text-align: center;
						margin: 0;
						padding: 0;
						border-left: 1px solid #FFF;
						&:last-child{
							border-bottom-left-radius: 10px;
							border-bottom-right-radius: 10px;
						}
						a{
							padding:11px 0;
							font-size: 16px;
						}
					}
	 			}
			}
		}
	}
	.login{
		width: 1000px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		p{
			margin: 0;
		}
		img{
			float: right;
		}
	}
}

.header-bottom {
	width: 100%;
	position: relative;
	background-image: url('../images/header-bg.jpg');
	float: left;
	background-position: center top;
	background-repeat: no-repeat;
  	position:relative;       
  	padding-bottom: 14px;
  	.botones-secciones{
  		display: inline-block;
		float: right;
		position: fixed;
		right: 0;
		top: 50px;
		z-index: 99999;
		tr{
			&:hover{
				-ms-transform: scale(1.04); /* IE 9 */
				-webkit-transform: scale(1.04); /* Chrome, Safari, Opera */
				transform: scale(1.04);
				opacity: 0.9;
				transition:all 0.3s;
			}
		}
  	}
}

/* Contenido */

main{
	width: 100%;
	float: left;
	
	.content-all{
		width: 1000px;
		margin: 0 auto;
		z-index: 1;
		position: relative;
		h2{
			font-family: 'Fjalla One', sans-serif;
			font-size: 46px;
			margin-bottom: 25px;
			color: @azultitulos;
			text-transform: uppercase;
			padding: 0 25px 0 15px;
		}

		.texto-azul{
			font-family: 'Fjalla One', sans-serif;
			font-size: 16px;
			color: @azulsubtitulos;
			padding-top: 35px;
			display: inline-block;
			padding-right: 5px;
		}
		.titulo-azul{
			font-family: 'Fjalla One', sans-serif;
			font-size: 18px;
			color: @azulsubtitulos;
			padding-top: 35px;
			display: block;
			padding-right: 5px;
			margin-bottom: 5px;
		}

		.item-pagenosotros{
			table{
				tr{
					td{
						padding: 0 10px;
						&:last-child{
							padding: 0;
						}
						p{
							font-family: 'Arial Narrow';
							font-size: 18px;
							line-height: 18px;
							text-align: justify;
							color: #5A5A5A;
							padding: 0 25px 0 15px;
						}
					}
				}
				&:nth-child(2){
					float: left;
					width: 100% !important;
					margin-bottom: 30px;
				}
				&:nth-child(3){
					float: left;
					width: 100% !important;
					margin-bottom: -100px;
				}
				&:nth-child(4){
					position: relative;
					top: 100px;
				}
			}
		}
		.item-pageservicios{
			table{
				tr{
					&:first-child{
						background-color: #008ED6;
						color: #FFF;
					}
					&:nth-child(2){
						background-color: #FFF;
						color: #5A5A5A;
						h6{
							color: @azultitulos;
						}
					}
					&:nth-child(3){
						background-color: #016CBC;
						color: #FFF;
					}
					&:nth-child(4){
						background-color: #FFF;
						color: #5A5A5A;
						h6{
							color: @azultitulos;
						}
					}
					&:nth-child(5){
						background-color: #008ED6;
						color: #FFF;
					}
					td{
						line-height: 1px;
						border: 10px solid #FFF;
						img{
							&:hover {
								-ms-transform: scale(1.04); /* IE 9 */
							   -webkit-transform: scale(1.04); /* Chrome, Safari, Opera */
							   transform: scale(1.04);
							   opacity: 0.9;
							   transition:all 0.3s;
							   color: #FFF;
							   text-shadow: 1px 1px 1px #000;
							}
						}
						h6{
							font-family: 'Fjalla One', sans-serif;
							font-size: 24px;
							width: 90%;
							margin: 0 auto;
							line-height: 20px;
						}
						p{
							font-family: 'Arial Narrow';
							font-size: 18px;
							width: 84%;
							margin: 0 auto;
							line-height: 18px;
							text-align: justify;
							padding: 0 30px 0 10px;
						}
					}
				}
			}
		}
		.item-pagetemas{
			img{
				border-radius: 30px;
				border-bottom: 10px solid @azultitulos;
				box-shadow: 3px 4px 12px -5px #000;
				}
			p{
				font-family: 'Arial Narrow';
				font-size: 18px;
				text-align: justify;
				color: #5A5A5A;
				padding: 0 25px 0 15px;
			}
			.volver-noticias{
				width: 100%;
				display: inline-block;
				text-align: right;
				margin-top: 25px;
				a{
				text-decoration: none;
				color: #FFF;
				font-family: 'Fjalla One', sans-serif;
				font-size: 18px;
				background-color: @azultitulos;
				padding: 5px 20px;
					&:hover{
						opacity: 0.7;
						transition: all 0.3s;
					}
				}
			}
			.nspHeader{
				font-family: 'Fjalla One', sans-serif;
				font-size: 24px;
				width: 67%;
				margin-bottom: 20px;
				a{
					color: @azultitulos;
					font-family: 'Fjalla One', sans-serif;
					font-size: 24px;
				}
			}
			.nspText{
				font-family: 'Arial Narrow';
				font-size: 18px;
				margin-bottom: 10px;
			}
			.nspImage{
				border-radius: 30px;
				border-bottom: 6px solid @azultitulos;
				box-shadow: 3px 4px 12px -5px #000;
			}
			a.readon{
				text-decoration: none;
				color: #FFF;
				font-family: 'Fjalla One', sans-serif;
				font-size: 18px;
				background-color: @azultitulos;
				padding: 5px 20px;
				&:hover{
					opacity: 0.7;
					transition: all 0.3s;
				}
			}
		}
	}
}

//Contacto

.item-pagecontacto{
	table{
		&:nth-child(2){
			margin-bottom: 25px;
			font-family: 'Fjalla One', sans-serif;
			font-size: 20px;
			tr{
				td{
					&:first-child{
						float: left;
						width: 100%;
						margin-bottom: 20px;
					}
					&:nth-child(2){
						float: left;
						width: 100%;
					}
					width: 49%;
					p{
					font-family: 'Arial Narrow';
					font-size: 18px;
					text-align: justify;
					color: #5A5A5A;
					padding: 0 25px 0 15px;
					}
				}
			}
		}
		&:nth-child(6){
			font-family: 'Fjalla One', sans-serif;
			font-size: 20px;
			color: @azultitulos;
			margin-top: -86px;
			tr{
				text-align: right;
				td{
					text-align: right;
					display: inline-block;
					img{
						padding-right: 10px;
					}
					a{
						font-family: 'Fjalla One', sans-serif;
						font-size: 20px;
						color: @azultitulos;
						text-decoration: none;
					}
				}
			}
		}
	}
	.rsform{
		p{
			font-family: 'Fjalla One', sans-serif;
			font-size: 20px;
			color: #008BD4;
			text-align: center;
		}
	}
	.formResponsive{
		textarea{
			width: 98%;
			border: 2px solid @azultitulos;
			font-family: 'Fjalla One', sans-serif;
			font-size: 18px;
			color: @azultitulos;
			.placeholder(rgba(0, 139, 212, 0.58););
			padding: 8px 5px;
		}
		input[type="text"]{
			width: 90% !important;
			border: 2px solid @azultitulos;
			font-family: 'Fjalla One', sans-serif;
			font-size: 18px;
			color: @azultitulos;
			.placeholder(rgba(0, 139, 212, 0.58););
			padding: 8px 5px;
		}
		input[type="button"]{
			margin-top: 25px;
			margin-left: 46%;
		}

		.formHorizontal{	
			select{
				width: 94%;
				float: right;
				font-family: 'Fjalla One', sans-serif;
				font-size: 18px;
				border: 2px solid @azultitulos;
				color: rgba(0, 139, 212, 0.58);
				height: 38px;
			}	
			.formDescription{
				margin: 0;
			}	

			.formControls{
				margin: 0;
			}

			.rsform-block-mensaje{
				width: 64% !important;
				margin-right: 22px;
				.formValidation{
					display: block;
					margin-bottom: 10px;
				}
			}

			.rsform-block-enviar{
				width: 64% !important;
				text-align: right;
				input[type="submit"]{
					background-image: none;
					background-color: #016CBC;
					border: 0;
					padding: 6px 20px;
					font-family: 'Fjalla One', sans-serif;
					font-size: 18px;
					&:hover{
						opacity: 0.8;
						transition: all 0.3s;
					}
				}
				input[type="reset"]{
					background-image: none;
					background-color: #016CBC;
					border: 0;
					padding: 6px 20px;
					font-family: 'Fjalla One', sans-serif;
					font-size: 18px;
					&:hover{
						opacity: 0.8;
						transition: all 0.3s;
					}
				}
			}

			.rsform-block{
			float: left;
			width: 33%;
			margin: 0;
				.formControlLabel{
					display: none;	
				}
			}
		}
	}
}

//estilos footer

footer {
	width: 100%;
	margin: 0 auto;
	background-image: url('../images/footer.png');
	background-position: center top;
	background-repeat: no-repeat;
	float: left;
	position: relative;
	z-index: 2;
	min-height: 162px;

	.contenedor-footer{
		width: 1000px;
		margin: 0 auto;
		top: 110px;
		position: relative;

		.info {
			margin: 0 auto 0  50px;
			display: inline-block;
			position: relative;
			font-family: 'Arial Narrow';
			font-size: 18px;
			float: left;
			color: #FFF;
			text-align: left;
			table{
				margin: 0 auto;
				display: inline-block;
				position: relative;
				line-height: 18px;
				tr{
					td{
						&:nth-child(3){
							padding-left: 20px;
						}
						img{
							vertical-align: middle;
							margin-top: -2px;
						}
					}
				}
			}
			p{
				line-height: 15px;
				text-align: center;
			}

			a{
				text-decoration: none;
				color: #000;
			}
		}
		.copy{

			display: inline-block;
			font-family: 'Arial Narrow';
			font-size: 18px;
			color: #FFF;
			float: right;
			margin: 8px 50px 0 auto;
			position: relative;
			z-index: 10;
			
			.sainet{
				img{
					vertical-align: middle;
				}

				a{
					text-decoration: none;
					font-size: 18px;
					color: #FFF;
					font-weight: lighter;
				}
			}
		}	
	}
}