//estilos para los diagramas de google charts

.contiene_charts{
	display: inline-block;
	box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.44);
	margin: 15px 15px 15px 0;
}

#ventas-chart{
	.contiene_charts;
	margin: 15px 15px 15px 0;
}

#evolucion-riesgo{
	.contiene_charts;
	margin: 15px 0px 15px 15px;
}

#pasivo-activo-chart{
	.contiene_charts;
	margin: 15px 15px 15px 0;
}

#endeudamiento-chart{
	.contiene_charts;
	margin: 15px 0px 15px 15px;
}

#evolucion_ventas_columas{
	.contiene_charts;
	margin: 15px 15px 15px 0;
}

#evolucion-margen-br{
	.contiene_charts;
	margin: 15px 0px 15px 15px;
}

#evolucion-margen-op{
	.contiene_charts;
	margin: 15px 15px 15px 0;
}

#evolucion-margen-nt{
	.contiene_charts;
	margin: 15px 0px 15px 15px;
}

#composicion-balance{
	.contiene_charts;
	margin: 15px 0px 15px 15px;
}

#composicion-activo{
	.contiene_charts;
	margin: 15px 15px 15px 0;
}

#evolucion-activo{
	.contiene_charts;
	margin: 15px 0px 15px 15px;
}

#composicion-pasivo{
	.contiene_charts;
	margin: 15px 15px 15px 0;
}

#evolucion-pasivo{
	.contiene_charts;
	margin: 15px 0px 15px 15px;
}

#composicion-patrimonio{
	.contiene_charts;
	margin: 15px 15px 15px 0;
}

#evolucion-patrimonio{
	.contiene_charts;
	margin: 15px 0px 15px 15px;
}		