// efectos para hover y active

.t_dos{
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0;
    /* Standard syntax */
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0;	
}

.t_uno{
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0;
    /* Standard syntax */
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0;	
}

.trans_prueba{
transform: rotate(4deg) scale(0.633) skew(0deg) translate(61px);
-webkit-transform: rotate(4deg) scale(0.633) skew(0deg) translate(61px);
-moz-transform: rotate(4deg) scale(0.633) skew(0deg) translate(61px);
-o-transform: rotate(4deg) scale(0.633) skew(0deg) translate(61px);
-ms-transform: rotate(4deg) scale(0.633) skew(0deg) translate(61px);
}
.trans_prueba2{ 
transition:All 0.4829s ease;
-webkit-transition:All 0.4829s ease;
-moz-transition:All 0.4829s ease;
-o-transition:All 0.4829s ease;
transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
-webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
-ms-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
}