.wrapper_search{ 

	#buscador_av{ width: 100%;
		td {
			vertical-align: bottom;
		}
	}

	.search_advance{
		padding: 22px;
		margin: 0 auto;
		width: 91%;
		border: 1px solid #ccc;
		border-radius: 5px;
		position: relative;

		h4{
			position: absolute;
			top: -11px;
			left: 20px;
			padding: 4px 12px 4px 5px;
			background: @blanco;
			border-radius: 5px;
			border: 1px solid #ccc;
			font-family: @app_open;
			font-size: 15px;
		}
	}

	input[type="text"]{
		.input_degrade_vertical;
		width: 88%;
		height: 22px;
		font-family: @app_open;
		font-size: 15px;
		color: #000;
		border: 1px solid rgba(204, 204, 204, 0.3);
 		border-radius: 4px;
	}

	label { 
		display: block;
		font-family: @app_open;
		font-size: 16px;
		color: @oscuro;
		margin: 18px 0 5px 0;
	}

	select{
		.input_degrade_vertical;
		width: 94%;	
		height: 25px;
		font-family: @app_open;
		font-size: 15px;
		color: #000;
		border: 1px solid rgba(204, 204, 204, 0.3);
 		border-radius: 4px;
	}

	.avanzado_buscar{
		background: #0097CB;
		border: 1px solid rgba(0,142,213,0.35);
		font-family: 'Open Sans', sans-serif;
		display: inline-block;
		font-size: 19px;
		border-radius: 5px 5px;
		color: #fff;
		padding: 4px 15px 4px;
		float: right;
		margin-right: 16px;

		&:hover {
			text-shadow: 0px 1px 4px rgba(0,0,0,0.55);
			box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.21);
		}
	}
}	