// formato de el gui

.content_gui{
	margin: 0 auto;
	width: 1000px;
	color: @oscuro;
	padding: 30px;

	.content_botones_tabs{
		text-align: center;
		display: block;
		margin: 24px auto;
	}
	.buscadores{
		text-align: center;
		display: block;	
		margin: 24px auto;
	}
}