/* Banner */
header {
	width: 100%;
	float: left;
	text-align: center;
	position: relative;
	min-height: 296px;
	.logo{
		width: 1000px;
		line-height: 1px;
		margin: 0 auto;
		img{
			float: left;
		}
		iframe{
		width: 247px;
		height: 201px;
		border:none;
		position: relative;
		z-index: 2;
		}		
	}
}
	.banner {
		position: absolute;
		width: 100%;
		display: inline-block;
		top: 0;
		left: 0;
		z-index: -1;

		.default-black .ju-slide-container{
			border-right: 4px solid #FFF;
		}

		.default-black .ju-slide-desc .label-title {
			text-transform: capitalize;
			line-height: 1;
			font-size: 47px;
			padding: 10px 10px;
			font-family: 'Fjalla One', sans-serif;
			color: #FFF;
			width: 100%;
			text-align: left;
			margin: 0;
			text-shadow: 2px 3px 3px #000;
		}

		.default-black .ju-slide-desc .label-desc {
			margin-bottom: 0;
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			color: #FFF;
			text-align: left;
			padding:0 65px 5px 15px;
			background-color: #2A9A4B;
			width: 100%;
			text-align: left;
		}

		.default-black .ju-slide-desc {
			background: none;
			color: #FFFFFF;
			left: 50%;
			bottom: 36%;
			width: 800px;
			height: auto;
			max-height: 210px;
			text-align: center;
			opacity: 1 !important;
			margin-left: -400px;
		}

		.ju-slideshow .ju-slide-desc-inner {
			display: inline-block;
			max-height: 100%;
			max-width: 100%;
			overflow: hidden;
			text-align: center;
			width: auto;
		}
		.default-black .ju-slide-navigation{
			background-color: #FFF;
			height: 433px !important;
		}
		.ju-slideshow .ju-slide-navigation-dots{
			display: none !important;
		}

		.ju-slideshow .ju-slide-thumb-navigation .image_number {
		width: 200px;
		height: 108px;
		border:none;
		background: none;
		padding: 0;
		}
		.ju-slideshow .ju-slide-navigation .image_number_select{
			background: none;
		}
		.default-black .vertical_thumbs {
		right: -204px;
		width: 200px !important;
		height: 434px !important;
		top: 0 !important;
		}

		.default-black .ju-slide-thumb-navigation .image_number_select img{
			border: none;
		}
		.prev_button{
			background-image: url('../images/botones/prev.png');
			width: 15px !important;
			height: 45px !important;
			background-position: center;
			top: 72% !important;
			background-repeat: no-repeat;
			bottom: auto;
			left: 24% !important;
			&:hover{
				background-position: center;
				opacity: 0.5;
			}
		}
		.next_button{
			background-image: url('../images/botones/next.png');
			width: 15px !important;
			height: 45px !important;
			background-position: center;
			top: 72% !important;
			right: 24% !important;
			background-repeat: no-repeat;
			bottom: auto;
			&:hover{
				background-position: center;
				opacity: 0.5;
			}
		}
	}
	.extrobgs-slideshow:after{
		background-image: url('../images/textura.png');
		background-position: center;
		background-size: 5px;
	}

/* Header */

.header-top{
	width: 100%;
	float: left;
	border-top: 6px solid #016CBC;
	position: relative;
	z-index: 2;
	nav {
		display: inline-block;
		position: fixed;
		float: left;
		background: none;
		z-index: 3;
		left: 0;
		top: 6px;
		&:before{
			content: "";
			position: absolute;
			background-image: url('../images/botones/boton-menu.png');
			z-index: 1;
			width: 119px;
			height: 60px;
			left: 0;
			background-position: 0px 0px;
			background-repeat: no-repeat;
		}

		.menu1 {
		display: inline-block;
		float: left;
		width: 100%;
		margin: 0 auto;
			ul{
				float: left;
				padding: 0;
				margin: 0;
			}

			li {
				display: inline-block;
				position: relative;
				z-index: 2;
				&:hover{
						ul{
							max-height: 610px;
						}
					}
					a {
						color: #FFF;
						text-decoration: none;
						padding: 10px 0px 10px 40px;
						display: inline-block;
						font-family: 'Fjalla One', sans-serif;
						font-size: 18px;
						font-weight: lighter;
						width: 100%;

					&:hover {
						-ms-transform: scale(1.04); /* IE 9 */
					   -webkit-transform: scale(1.04); /* Chrome, Safari, Opera */
					   transform: scale(1.04);
					   opacity: 0.9;
					   transition:all 0.3s;
					   color: #FFF;
					   text-shadow: 1px 1px 1px #000;
					}
				}

				ul{
					max-height: 0;
					min-height: 0px;
					overflow: hidden;
					position: absolute;
					z-index: 999;
					top: 40px;
					left: 0;
					transition: max-height .8s .5s;
					-moz-transition: max-height .8s .5s;
					-o-transition: max-height .8s .5s;
					-webkit-transition: max-height .8s .5s;
					margin-top: 8px;

					li{
						display: block;
						border: none;
						background-color: #008ED6;
						border-bottom: 1px solid #FFF;
						width: 118px;
						text-align: center;
						margin: 0;
						padding: 0;
						border-left: 1px solid #FFF;
						&:last-child{
							border-bottom-left-radius: 10px;
							border-bottom-right-radius: 10px;
						}
						a{
							padding:11px 0;
							font-size: 16px;
						}
					}
	 			}
			}
		}
	}
	.login{
		width: 1000px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		p{
			margin: 0;
		}
		img{
			float: right;
		}
	}
}

.header-bottom {
	width: 100%;
	position: relative;
	background-image: url('../images/header-bg.jpg');
	float: left;
	background-position: center top;
	background-repeat: no-repeat;
  	position:relative;       
  	padding-bottom: 14px;
  	.botones-secciones{
  		display: inline-block;
		float: right;
		position: fixed;
		right: 0;
		top: 50px;
		z-index: 9999;
		tr{
			&:hover{
				-ms-transform: scale(1.04); /* IE 9 */
				-webkit-transform: scale(1.04); /* Chrome, Safari, Opera */
				transform: scale(1.04);
				opacity: 0.9;
				transition:all 0.3s;
			}
		}
  	}
}
.wrapper-texto{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.texto{
	position: absolute;
	z-index: 999;
	width: 100%;
	bottom: 30%;
	left: 0;
	text-align: center;
	table{
		width: 100%;
		margin: 0 auto;
		tr{
			&:first-child{
					font-family: 'Fjalla One', sans-serif;
					font-size: 65px;
					color: #FFF;
					text-shadow: 3px 3px 4px #000;
			}
			&:nth-child(2){
				font-size: 60px;
				font-family: 'Fjalla One', sans-serif;
				color: #FFF;
				text-shadow: 3px 3px 4px #000;
			}
			td{
				text-align: center;
			}
		}
	}
}

/* Contenido */

main{
	width: 100%;
	float: left;
	
	.content-all{
		width: 1000px;
		margin: 0 auto;
		z-index: 1;
		position: absolute;
		left: 50%;
		margin-left: -500px;
		bottom: 13%;

		.financiacion{
			table{
				margin-left: auto;
				margin-right: auto;
				padding: 33px 0px;
				width: 100%;
				min-height: 100px;
				text-align: center;
				background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.4) 75%, rgba(0,0,0,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(25%,rgba(0,0,0,0.4)), color-stop(50%,rgba(0,0,0,0.5)), color-stop(75%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0) 100%); /* IE10+ */
				background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */			

				tr{
					td{
						display: inline-block;
						padding:33px 0 33px 0;
					}
				}
			}
			a{
				font-family: 'Arial Narrow';
				font-style: italic;
				color: #FFF;
				font-size: 20px;
				text-shadow: 2px 1px 1px #000;
			}
		}

		.contenido-top{
			width: 100%;
			display: inline-block;
		}
	}
	.contenido-bottom{
		width: 100%;
		display: inline-block;
		background-image: url('../images/bienvenidos-bg.jpg');
		background-repeat: no-repeat;
		background-position: center top;
		padding: 20px 0;
		position: relative;

		&:before, &:after{
			content: "";
			position: absolute;
			z-index: -1;
			-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
			-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
			box-shadow: 0 0 20px rgba(0,0,0,0.8);
			top: 70%;
			bottom: 2px;
			left: 300px;
			right: 300px;
			-moz-border-radius: 100px/10px;
			border-radius: 100px/10px;
		} 

		&:after{
			right:10px; 
		    left:auto;
		    -webkit-transform:skew(8deg) rotate(3deg); 
		       -moz-transform:skew(8deg) rotate(3deg);     
		        -ms-transform:skew(8deg) rotate(3deg);     
		         -o-transform:skew(8deg) rotate(3deg); 
		            transform:skew(8deg) rotate(3deg);
		}
		.moduletablebienvenidos{
			width: 1000px;
			margin: 0 auto;
			position: relative;

			&:before, &:after{
				content: "";
				position: absolute;
				z-index: -1;
				-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
				-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
				box-shadow: 0 0 20px rgba(0,0,0,0.8);
				top: -19px;
				bottom: 0;
				left: -100px;
				right: -100px;
				-moz-border-radius: 100px/10px;
				border-radius: 100px/10px;
			} 
			&:after{
				right:10px; 
			    left:auto;
			    -webkit-transform:skew(8deg) rotate(3deg); 
			    -moz-transform:skew(8deg) rotate(3deg);     
			    -ms-transform:skew(8deg) rotate(3deg);     
		        -o-transform:skew(8deg) rotate(3deg); 
			    transform:skew(8deg) rotate(3deg);
			}


			table{
				tr{
					td{
						padding: 0 15px;
						&:nth-child(2){
							float: left;
						}
						h4{
							font-family: 'Fjalla One', sans-serif;
							font-size: 30px;
							color: #FFF;
							margin-bottom: 10px;
						}
						p{
							text-align: justify;
							font-family: 'Open Sans', sans-serif;
							font-size: 13px;
							color: #FFF;
							line-height: 15px;
						}
					}
				}
			}
		}
	}
}

//estilos footer

footer {
	width: 100%;
	margin: 0 auto;
	background-position: center top;
	background-repeat: no-repeat;
	float: left;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	&:before{
	  	content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 260px;
		background-image: url('../images/mask2.png');
		z-index: 0;
	}
	.contenedor-footer{
		width: 1000px;
		position: absolute;
		margin: 0 auto;
		top: -60px;
		left: 50%;
		margin-left: -500px;
		.info {
			margin: 0 auto;
			position: relative;
			font-family: 'Arial Narrow';
			font-size: 18px;
			color: #FFF;
			text-align: center;
			table{
				margin: 0 auto;
				display: inline-block;
				position: relative;
				line-height: 18px;
				tr{
					td{
						&:nth-child(3){
							padding-left: 20px;
						}
						img{
							vertical-align: middle;
							margin-top: -2px;
						}
					}
				}
			}
			p{
				line-height: 15px;
			}

			a{
				text-decoration: none;
				color: #000;
			}
		}
		.copy{
			display: inline-block;
			font-family: 'Arial Narrow';
			font-size: 18px;
			color: #FFF;
			float: right;
			margin: -23px auto 0 auto;
			position: relative;
			z-index: 10;
			.sainet{
				img{
					vertical-align: middle;
				}

				a{
					text-decoration: none;
					font-size: 18px;
					color: #FFF;
					font-weight: lighter;
				}
			}
		}	
	}
}



