//estilos para el modulo de login


.text_azul{
	font-family: 'Fjalla One', sans-serif;
	color: @azultitulos;
	font-size: 20px
}

#system-message-container{
	#system-message{
		dt{
			&.message{
				display: none;
			}
		}
	}
}

.botones_registro{ 
	background-image: none;
	background-color: #016CBC;
	border: 0;
	padding: 6px 20px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	display: inline-block;
	margin: 0 auto;
	color: @blanco;
	line-height: 1;
}
.botones_registro_hover{
	opacity: 0.8;
	transition: all 0.3s;
}
.inputs_registro{
	border: 1px solid #008BD4;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	color: #008BD4;
	padding: 4px 4px;
}
.login{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	z-index: 2;

	.moduletable{
		width: 320px;
		float: right;
		background: #9F9F9F;
		position: relative;
		padding-left: 50px;

		fieldset{
			#form-login-username{
				width: 137px;
				float: left;
				label{
					float: left;
					display: inline-block;
					color: @blanco;
					font-family: 'Fjalla One', sans-serif;
					font-size: 13px;
					margin-top: 9px;
				}

				input#modlgn-username{
					width: 75px;
					border: none;
					background: @blanco;
					display: inline-block;
					margin-top: 7px;
				}
			}

			#form-login-password{
				width: 150px;
				float: left;
				label{
					float: left;
					display: inline-block;
					color: @blanco;
					font-family: 'Fjalla One', sans-serif;
					font-size: 13px;
					margin-top: 9px;
				}

				input#modlgn-passwd{
					width: 75px;
					border: none;
					background: @blanco;
					display: inline-block;
					margin-top: 7px;
				}				
			}
			.button{
				background: url("../templates/latianalisis/images/botton-login.png") no-repeat 0px 0px;
				width: 43px;
				height: 37px;
				border: none;
				padding: 0;
				color: transparent;
				position: absolute;
				left: 0;
			}

			#form-login-remember{display: none;}
		}

		.no_home{display: none;}

		.pass{
			display: inline-block;
			color: @blanco;
			font-family: 'Fjalla One', sans-serif;
			font-size: 11px;
			margin-top: 10px;
			margin-right: 65px;

			a{color:@blanco; text-decoration: none; }
		}
	}

	.login-greeting{
		float: left;
		display: inline-block;
		color: @blanco;
		font-family: 'Fjalla One', sans-serif;
		font-size: 16px;
		margin-top: 9px;
	}
	.logout-button{
		input[type="submit"]{
			color: @blanco;
			font-family: 'Fjalla One', sans-serif;
			font-size: 13px;
			background: none;
			float: right;
			border: 1px solid @blanco;
			display: inline-block;
			margin: 4px;
			padding: 3px;
		}
	}

	.editar_cuenta{
		a{
			color: @blanco;
			font-family: 'Fjalla One', sans-serif;
			font-size: 13px;
			background: none;
			float: right;
			margin: 4px;
			text-decoration: none;
			border: 1px solid @blanco;
			display: inline-block;
			padding: 5px 5px 4px;
		}
	}
}

.reset{

	fieldset{
		width: 50%;
		margin: 30px auto 0;
		
		label{
			.text_azul;
		}

		input{
			.inputs_registro;
			width: 90%;
		}
	}

	button{ 
		.botones_registro;

		&:hover {.botones_registro_hover;}
	}
}

.login.content{
	fieldset{
		width: 50%;
		margin: 30px auto 0;
		
		label{
			.text_azul;
			font-size: 19px;
			margin: 12px 0 0;
			display: inline-block;
		}

		input{
			.inputs_registro;
			width: 90%;
		}
		#remember{
			display: inline-block;
			width: 20px;
			margin-top: 4px;
		}
	}

	button{ 
		.botones_registro;
		margin-top: 12px;

		&:hover {.botones_registro_hover;}
	}	
}
.options_register{
	width: 50%;
	margin: -5px auto 0;	
	position: relative;
	z-index: 9;

	li{
		.text_azul;
		font-size: 16px;
		margin: -20px 35px 0 0;
		float: right;
		display: inline-block;
		a{text-decoration: none;  }

		&.no_home{display: none;}
	}
}

.profile-edit{


	fieldset{
		width: 50%;
		margin: 30px auto 0;

		legend{ display: none; }

		.optional{ display: none; }
		
		label{
			.text_azul;
			font-size: 16px;
			margin: 15px 0 0;
			display: inline-block;
		}

		input{
			.inputs_registro;
			width: 90%;
		}
		#remember{
			display: inline-block;
			width: 20px;
			margin-top: 4px;
		}
	}

	button{ 
		.botones_registro;
		margin-top: 12px;

		&:hover {.botones_registro_hover;}
	}

	.cancelar-button{
		.botones_registro;
		text-decoration: none;

		&:hover {.botones_registro_hover;}
	}

	.buttons-profile{
		width: 100%;
		text-align: center;

	}
}
