//Estilos de las tablas dinamicas 

table.azul{
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    background: @blanco;
    tr{

        th{
            background: @azul_th;
            font-size: 14px;
            font-family: @app_open;
            color: @blanco;
            text-align: center;
            padding: 16px 5px;
            border-right: 1px solid #ccc; 

            a{
                font-size: 15px;
                font-family: @app_open;
                color: @blanco;  
                text-decoration: none;
            }
        }
        td{
            text-align: left ;
            font-size: 14px;
            font-family: @app_open;
            color: #666;
            padding: 6px 7px 6px 7px;
            border-right: 1px solid #ccc;
            text-transform: uppercase;

            &.b_azul{
                background: @azul_th;
                font-size: 14px;
                font-family: @app_open;
                color: @blanco;
                text-align: center;
                padding: 16px 5px;
                border-right: 1px solid #ccc;  
                &:first-child {
                    width: 30%;
                }
            }

            &.b_azul_variaciones{
                background: @azul_variaciones;
                font-weight: bold;
                text-align: center;
                width: 50px !important
            }

            &.fila_resaltada{
                background: @azul_variaciones;
                font-weight: bold;
                text-align: left;  
                color: #000;
                font-size: 15px;
            }
        }
    }
}


table.indicadores_actividad{
    tr{
        td{
            &.b_azul{
                border-right: none;  
            }                
        }
    }
}

.pordentajes_t_historicos, .pordentajes_t_indicadores{
    float: right;
}
.porcentaje_variaciones{
    text-align: center;
    margin: 0 auto;
    display: block;
}

.oscuro_centrado{
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.b_azul_variaciones{
    background: @azul_variaciones;
    font-weight: bold;
    text-align: center !important;
}

.resaltada{
    background: @azul_variaciones;
    font-weight: bold;
    text-align: center !important;
    display: block;
    padding: 5px;
    width: 101%;
    margin-left: -5px;
}

.corte{
    background: #ccc;
    font-weight: bold;
    text-align: center !important;
    display: block;
    padding: 5px;
    width: 101%;
    margin-left: -5px;
}

span.title_variaciones{
    font-family: @app_open;
    color: @oscuro;
    font-size: 15px;
    background: @azul_variaciones;
    border: 1px solid #ccc;
    display: block;
    border-bottom: none;
    padding: 3px;
    font-weight: bold;    
}

span.porcentaje_variaciones_negativo{
    text-align: center;
    margin: 0 auto;
    display: block;
    color: red;
}

.content_table_variaciones{
    width: 18%;
    float: left;
}
table.variaciones{
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    background: @blanco;

    tr{
        th{
            background: @azul_variaciones;
            font-size: 13px;
            font-family: @app_open;
            color: @oscuro;
            padding: 5px 5px;
            width: 33%;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            a{
                color: @oscuro;
                text-decoration: none;
            }

        }

        td{
            text-align: center;
            font-size: 14px;
            font-family: @app_open;
            color: #666;
            padding: 4px 5px;
            border-right: 1px solid #ccc;
        }
    }
}

table.resultados-historicos{
    tr{
        th{
            background: @azul_th;
            font-size: 14px;
            font-family: @app_open;
            color: @blanco;
            text-align: center;
            padding: 16px 5px;
            border-right: 1px solid #ccc; 

            &:first-child{width: 42%;}

            a{
                font-size: 15px;
                font-family: @app_open;
                color: @blanco;  
                text-decoration: none;
            }
        }

        td{font-weight: 200; width: 14.2%;

            &:first-child{
            text-align: left !important;
            font-weight: 500;
            }
        }
    }
}

table.total{ margin-bottom: 12px;
    tr{
        td{
            
            font-size: 14px;
            font-family: @app_open;
            text-align: center;
            font-weight: 600;
            color: #000;
            padding: 10px 5px;
            border-right: 1px solid #ccc; 
            border-bottom: 1px solid #ccc;
            width: 14%;
            background: @azul_variaciones;

            &:first-child{ 
                width: 40%; 
                background: @azul_th;
                color: @blanco;
                text-align: left;
            }

        }
    }        
}

table.resumen_estadistica{
    margin: 15px 0;
    width: 100%;
    tr{
        td{
            
            font-size: 14px;
            font-family:@app_open;
            text-align: center;
            font-weight: 600;
            color: @blanco;
            padding: 10px 5px;
            border-right: 1px solid #ccc; 
            border-bottom: 1px solid #ccc;
            width: 14.2%;
            background: @vinotinto;

            &:first-child{ 
                width: 42%; 
                text-align: left;
            }

        }
    }        
}

#balance-resultado-historico-activo, #balance-resultado-historico-pasivo, #balance-resultado-historico-patrimonio, .resultados-historicos_total{
    margin: 15px 0;   
    tr{

        th{ width: 14%;
            &:first-child{
                width: 40%;
            }
        }
    }        
}

