// Estolis de la tabla de resultados

.content_result_table{
	.component_degrade;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 20px auto;

	table.titles{
		.component_degrade_vertical;
		border: 1px solid #ccc;
		margin: 10px auto;
		width: 100%;
		color: @oscuro;
		font-family: @app_open;
		font-size: 15px;
		font-weight: bold;

		td{
			width: 25%;
			padding: 7px 0;

			.n_empresa{
				display: inline-block;
				background: url("../templates/latianalisis/images/icono-resultados-1.png") no-repeat;
				padding: 4px 0 5px 30px;
				margin-left: 15px;
			}
			.n_nit{margin-left: 5px;}
			&:first-child{width: 45%}
		}
	}
	table.results{
		border: 2px solid rgba(204, 204, 204, 0.32);
		background: @blanco;
		margin: 10px auto;
		width: 100%;
		color: @oscuro;
		font-family: @app_open;
		font-size: 15px;

		tr{.t_dos;

			td{
				padding: 12px 0;
				border: 2px solid rgba(204, 204, 204, 0.32);

				.name_company{
					display: inline-block;
					background: url("../templates/latianalisis/images/icono-resultados-2.png") no-repeat;
					padding: 3px 0 3px 30px;
					margin-left: 15px;
					.t_dos;
				}
				&.n_company{width: 42%}

				&.i_company{ width: 15%; text-align: center;}

				&.icn_detalle{ 
					.ver_reporte{ 
						.button_report_degrade;
						visibility: hidden;
						padding: 6px 7px;
						float: right;
						margin-right: 20px;
						border-radius: 5px;
						.trans_prueba;

						a{
							color:@blanco;
							font-family: @app_open;
							font-size: 14px;
							text-decoration: none;
						}
					}
				}	
			}
			&:hover{
				background: rgba(0, 186, 239, 0.1);

				td{
					&.icn_detalle{ 
						.ver_reporte{ 
							visibility: visible;
							.trans_prueba2;
						}
					}
					.name_company{ 	background: url("../templates/latianalisis/images/icono-resultados-3.png") no-repeat; }
				}
			}
		}	
	}
}