// Estilos de las tablas estaticas de informacion corporativa

.clear{clear: both; margin-bottom: 30px;}
.datos_em{
	margin-right: 25px;
	width: 483px;
	float: left;
}

.datos_em2{
	width: 483px;
	float: right;
}

.inf_corp{ 
	vertical-align: top;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: @blanco;
	tr{
		td{
			font-size: 15px;
			font-family: @app_open;
			color: @oscuro;
			text-align: left;
			padding: 5px 3px 5px 10px;
			width: 50%;
			border-right: 1px solid #ccc;
			font-weight: 200;

			&.bold{ font-weight: 400;}
		}

		&:nth-child(2n + 1){
			background: #F2FAFE;
		}

		&:last-child{ background: @azul_th;
			td{
				font-size: 15px;
				font-family: @app_open;
				color: @blanco;
				text-align: left;
				padding: 7px 3px 7px 10px;
				width: 50%;
				border-right: 1px solid #ccc;

			}
		}
	}
}

.info_reportes{ 
	width: 100%;
	display: inline-block;
	margin: 10px 0 30px;
	font-family: @app_open;
}
.concepto_riesgo {
	width: 850px;
	margin: 0 auto 65px;
}

.evolucion_riesgo {
	width: 850px;
	margin: 0 auto 25px;
}

.amarilla {
	border: 1px solid #ccc;
	background: @blanco;
	tr{
		td{
			font-size: 15px;
			font-family: @app_open;
			color: @oscuro;
			text-align: center;
			padding: 5px 3px 5px 10px;

			&.bold{ font-weight: bold;}

			&:first-child {
				width: 10%;
				border-right: 1px solid #ccc;
			}

			&:last-child {
				padding-right: 80px;
			}
		}

		&:nth-child(2n + 1){
			background: @amarillo_tabla;
		}
	}	
}