// Site Standard colors
@gris: #636363;
@grisdark: #333333;
@bodyBackground: #fff;
@bodyColor: #F9F9F9;
@cafe: #E9D9C8;
@azultitulos: #203961;
@azulfondos: #203961;
@blanco: #fff;
@verde: #006837;
@azultitulos: #008BD4;
@azulsubtitulos:#086FBC;
@grisclaro: #fdfdfd;
@oscuro: #4C4C4C;
@azul_hover: #008ED5;
@azul_th: #008ED5;
@amarillo_tabla: #EEF2A3;
@azul_variaciones: #F2FAFE;
@naranja: #E8784F;




// Font Family
@arial:'Arial Narrow';
@fjalla: 'Fjalla One', sans-serif;
@content:'Open Sans', sans-serif;
@app_open:'Open Sans', sans-serif;
