body,
html {
  overflow-x: hidden;
}
body {
  line-height: 1;
  margin: 0 auto;
  background-position: center top;
  background-image: url('../images/fondo.png');
}
#jcemediabox-popup-info-bottom {
  position: none;
}
#jcemediabox-popup-closelink {
  width: 20px;
  height: 20px;
  bottom: 0;
  top: -8px;
  right: -10px;
  position: absolute;
  float: right;
  border: none;
  border-radius: 50%;
}
header {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  min-height: 296px;
}
header .logo {
  width: 1000px;
  line-height: 1px;
  margin: 0 auto;
}
header .logo img {
  float: left;
}
header .logo iframe {
  width: 247px;
  height: 201px;
  border: none;
  position: relative;
  z-index: 2;
}
.banner {
  position: absolute;
  width: 100%;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: -1;
}
.banner .default-black .ju-slide-container {
  border-right: 4px solid #FFF;
}
.banner .default-black .ju-slide-desc .label-title {
  text-transform: capitalize;
  line-height: 1;
  font-size: 47px;
  padding: 10px 10px;
  font-family: 'Fjalla One', sans-serif;
  color: #FFF;
  width: 100%;
  text-align: left;
  margin: 0;
  text-shadow: 2px 3px 3px #000;
}
.banner .default-black .ju-slide-desc .label-desc {
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFF;
  text-align: left;
  padding: 0 65px 5px 15px;
  background-color: #2A9A4B;
  width: 100%;
}
.banner .default-black .ju-slide-desc {
  background: none;
  color: #FFFFFF;
  left: 50%;
  bottom: 36%;
  width: 800px;
  height: auto;
  max-height: 210px;
  text-align: center;
  opacity: 1 !important;
  margin-left: -400px;
}
.banner .ju-slideshow .ju-slide-desc-inner {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  width: auto;
}
.banner .default-black .ju-slide-navigation {
  background-color: #FFF;
  height: 433px !important;
}
.banner .ju-slideshow .ju-slide-navigation-dots {
  display: none !important;
}
.banner .ju-slideshow .ju-slide-thumb-navigation .image_number {
  width: 200px;
  height: 108px;
  border: none;
  background: none;
  padding: 0;
}
.banner .ju-slideshow .ju-slide-navigation .image_number_select {
  background: none;
}
.banner .default-black .vertical_thumbs {
  right: -204px;
  width: 200px !important;
  height: 434px !important;
  top: 0 !important;
}
.banner .default-black .ju-slide-thumb-navigation .image_number_select img {
  border: none;
}
.banner .prev_button {
  background-image: url('../images/botones/prev.png');
  width: 15px !important;
  height: 45px !important;
  background-position: center;
  top: 72% !important;
  background-repeat: no-repeat;
  bottom: auto;
  left: 24% !important;
}
.banner .prev_button:hover {
  background-position: center;
  opacity: 0.5;
}
.banner .next_button {
  background-image: url('../images/botones/next.png');
  width: 15px !important;
  height: 45px !important;
  background-position: center;
  top: 72% !important;
  right: 24% !important;
  background-repeat: no-repeat;
  bottom: auto;
}
.banner .next_button:hover {
  background-position: center;
  opacity: 0.5;
}
.extrobgs-slideshow:after {
  background-image: url('../images/textura.png');
  background-position: center;
  background-size: 5px;
}
.header-top {
  width: 100%;
  float: left;
  border-top: 6px solid #016CBC;
  position: relative;
  z-index: 2;
}
.header-top nav {
  display: inline-block;
  position: fixed;
  float: left;
  background: none;
  z-index: 3;
  left: 0;
  top: 6px;
}
.header-top nav:before {
  content: "";
  position: absolute;
  background-image: url('../images/botones/boton-menu.png');
  z-index: 1;
  width: 119px;
  height: 60px;
  left: 0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.header-top nav .menu1 {
  display: inline-block;
  float: left;
  width: 100%;
  margin: 0 auto;
}
.header-top nav .menu1 ul {
  float: left;
  padding: 0;
  margin: 0;
}
.header-top nav .menu1 li {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.header-top nav .menu1 li:hover ul {
  max-height: 610px;
}
.header-top nav .menu1 li a {
  color: #FFF;
  text-decoration: none;
  padding: 10px 0px 10px 40px;
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  width: 100%;
}
.header-top nav .menu1 li a:hover {
  -ms-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  opacity: 0.9;
  transition: all 0.3s;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
}
.header-top nav .menu1 li ul {
  max-height: 0;
  min-height: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  top: 40px;
  left: 0;
  transition: max-height .8s .5s;
  -moz-transition: max-height .8s .5s;
  -o-transition: max-height .8s .5s;
  -webkit-transition: max-height .8s .5s;
  margin-top: 8px;
}
.header-top nav .menu1 li ul li {
  display: block;
  border: none;
  background-color: #008ED6;
  border-bottom: 1px solid #FFF;
  width: 118px;
  text-align: center;
  margin: 0;
  padding: 0;
  border-left: 1px solid #FFF;
}
.header-top nav .menu1 li ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header-top nav .menu1 li ul li a {
  padding: 11px 0;
  font-size: 16px;
}
.header-top .login {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.header-top .login p {
  margin: 0;
}
.header-top .login img {
  float: right;
}
.header-bottom {
  width: 100%;
  position: relative;
  background-image: url('../images/header-bg.jpg');
  float: left;
  background-position: center top;
  background-repeat: no-repeat;
  padding-bottom: 14px;
}
.header-bottom .botones-secciones {
  display: inline-block;
  float: right;
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 9999;
}
.header-bottom .botones-secciones tr:hover {
  -ms-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  opacity: 0.9;
  transition: all 0.3s;
}
.wrapper-texto {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.texto {
  position: absolute;
  z-index: 999;
  width: 100%;
  bottom: 30%;
  left: 0;
  text-align: center;
}
.texto table {
  width: 100%;
  margin: 0 auto;
}
.texto table tr:first-child {
  font-family: 'Fjalla One', sans-serif;
  font-size: 65px;
  color: #FFF;
  text-shadow: 3px 3px 4px #000;
}
.texto table tr:nth-child(2) {
  font-size: 60px;
  font-family: 'Fjalla One', sans-serif;
  color: #FFF;
  text-shadow: 3px 3px 4px #000;
}
.texto table tr td {
  text-align: center;
}
main {
  width: 100%;
  float: left;
}
main .content-all {
  width: 1000px;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  bottom: 13%;
}
main .content-all .financiacion table {
  margin-left: auto;
  margin-right: auto;
  padding: 33px 0px;
  width: 100%;
  min-height: 100px;
  text-align: center;
  background: -moz-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(0,0,0,0)),color-stop(25%,rgba(0,0,0,0.4)),color-stop(50%,rgba(0,0,0,0.5)),color-stop(75%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 25%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#00000000',GradientType=1);
}
main .content-all .financiacion table tr td {
  display: inline-block;
  padding: 33px 0 33px 0;
}
main .content-all .financiacion a {
  font-family: 'Arial Narrow';
  font-style: italic;
  color: #FFF;
  font-size: 20px;
  text-shadow: 2px 1px 1px #000;
}
main .content-all .contenido-top {
  width: 100%;
  display: inline-block;
}
main .contenido-bottom {
  width: 100%;
  display: inline-block;
  background-image: url('../images/bienvenidos-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  padding: 20px 0;
  position: relative;
}
main .contenido-bottom:before,
main .contenido-bottom:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  top: 70%;
  bottom: 2px;
  left: 300px;
  right: 300px;
  -moz-border-radius: 100px/10px;
  border-radius: 100px/10px;
}
main .contenido-bottom:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
main .contenido-bottom .moduletablebienvenidos {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
main .contenido-bottom .moduletablebienvenidos:before,
main .contenido-bottom .moduletablebienvenidos:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  top: -19px;
  bottom: 0;
  left: -100px;
  right: -100px;
  -moz-border-radius: 100px/10px;
  border-radius: 100px/10px;
}
main .contenido-bottom .moduletablebienvenidos:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
main .contenido-bottom .moduletablebienvenidos table tr td {
  padding: 0 15px;
}
main .contenido-bottom .moduletablebienvenidos table tr td:nth-child(2) {
  float: left;
}
main .contenido-bottom .moduletablebienvenidos table tr td h4 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  color: #FFF;
  margin-bottom: 10px;
}
main .contenido-bottom .moduletablebienvenidos table tr td p {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #FFF;
  line-height: 15px;
}
footer {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  float: left;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}
footer:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 260px;
  background-image: url('../images/mask2.png');
  z-index: 0;
}
footer .contenedor-footer {
  width: 1000px;
  position: absolute;
  margin: 0 auto;
  top: -60px;
  left: 50%;
  margin-left: -500px;
}
footer .contenedor-footer .info {
  margin: 0 auto;
  position: relative;
  font-family: 'Arial Narrow';
  font-size: 18px;
  color: #FFF;
  text-align: center;
}
footer .contenedor-footer .info table {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  line-height: 18px;
}
footer .contenedor-footer .info table tr td:nth-child(3) {
  padding-left: 20px;
}
footer .contenedor-footer .info table tr td img {
  vertical-align: middle;
  margin-top: -2px;
}
footer .contenedor-footer .info p {
  line-height: 15px;
}
footer .contenedor-footer .info a {
  text-decoration: none;
  color: #000;
}
footer .contenedor-footer .copy {
  display: inline-block;
  font-family: 'Arial Narrow';
  font-size: 18px;
  color: #FFF;
  float: right;
  margin: -23px auto 0 auto;
  position: relative;
  z-index: 10;
}
footer .contenedor-footer .copy .sainet img {
  vertical-align: middle;
}
footer .contenedor-footer .copy .sainet a {
  text-decoration: none;
  font-size: 18px;
  color: #FFF;
  font-weight: lighter;
}
.text_azul {
  font-family: 'Fjalla One', sans-serif;
  color: #008BD4;
  font-size: 20px;
}
.botones_registro {
  background-image: none;
  background-color: #016CBC;
  border: 0;
  padding: 6px 20px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  display: inline-block;
  margin: 0 auto;
  color: #fff;
}
.botones_registro_hover {
  opacity: 0.8;
  transition: all 0.3s;
}
.inputs_registro {
  border: 1px solid #008BD4;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  color: #008BD4;
  padding: 4px 4px;
}
.login {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.login .moduletable {
  width: 320px;
  float: right;
  background: #9F9F9F;
  position: relative;
  padding-left: 50px;
}
.login .moduletable fieldset #form-login-username {
  width: 137px;
  float: left;
}
.login .moduletable fieldset #form-login-username label {
  float: left;
  display: inline-block;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 13px;
  margin-top: 9px;
}
.login .moduletable fieldset #form-login-username input#modlgn-username {
  width: 75px;
  border: none;
  background: #fff;
  display: inline-block;
  margin-top: 7px;
}
.login .moduletable fieldset #form-login-password {
  width: 150px;
  float: left;
}
.login .moduletable fieldset #form-login-password label {
  float: left;
  display: inline-block;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 13px;
  margin-top: 9px;
}
.login .moduletable fieldset #form-login-password input#modlgn-passwd {
  width: 75px;
  border: none;
  background: #fff;
  display: inline-block;
  margin-top: 7px;
}
.login .moduletable fieldset .button {
  background: url("../templates/latianalisis/images/botton-login.png") no-repeat 0px 0px;
  width: 43px;
  height: 37px;
  border: none;
  padding: 0;
  color: transparent;
  position: absolute;
  left: 0;
}
.login .moduletable fieldset #form-login-remember {
  display: none;
}
.login .moduletable .no_home {
  display: none;
}
.login .moduletable .pass {
  display: inline-block;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 11px;
  margin-top: 10px;
  margin-right: 65px;
}
.login .moduletable .pass a {
  color: #fff;
  text-decoration: none;
}
.login .login-greeting {
  float: left;
  display: inline-block;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  margin-top: 9px;
}
.login .logout-button input[type="submit"] {
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 13px;
  background: none;
  float: right;
  border: 1px solid #fff;
  display: inline-block;
  margin: 4px;
  padding: 3px;
}
.login .editar_cuenta a {
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 13px;
  background: none;
  float: right;
  margin: 4px;
  text-decoration: none;
  border: 1px solid #fff;
  display: inline-block;
  padding: 5px 5px 4px;
}
.reset fieldset {
  width: 50%;
  margin: 30px auto 0;
}
.reset fieldset label {
  font-family: 'Fjalla One', sans-serif;
  color: #008BD4;
  font-size: 20px;
}
.reset fieldset input {
  border: 1px solid #008BD4;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  color: #008BD4;
  padding: 4px 4px;
  width: 90%;
}
.reset button {
  background-image: none;
  background-color: #016CBC;
  border: 0;
  padding: 6px 20px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  display: inline-block;
  margin: 0 auto;
  color: #fff;
}
.reset button:hover {
  opacity: 0.8;
  transition: all 0.3s;
}
.login.content fieldset {
  width: 50%;
  margin: 30px auto 0;
}
.login.content fieldset label {
  font-family: 'Fjalla One', sans-serif;
  color: #008BD4;
  font-size: 20px;
  font-size: 19px;
  margin: 12px 0 0;
  display: inline-block;
}
.login.content fieldset input {
  border: 1px solid #008BD4;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  color: #008BD4;
  padding: 4px 4px;
  width: 90%;
}
.login.content fieldset #remember {
  display: inline-block;
  width: 20px;
  margin-top: 4px;
}
.login.content button {
  background-image: none;
  background-color: #016CBC;
  border: 0;
  padding: 6px 20px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  margin-top: 12px;
}
.login.content button:hover {
  opacity: 0.8;
  transition: all 0.3s;
}
.options_register {
  width: 50%;
  margin: -5px auto 0;
  position: relative;
  z-index: 9;
}
.options_register li {
  font-family: 'Fjalla One', sans-serif;
  color: #008BD4;
  font-size: 20px;
  font-size: 16px;
  margin: -20px 35px 0 0;
  float: right;
  display: inline-block;
}
.options_register li a {
  text-decoration: none;
}
.options_register li.no_home {
  display: none;
}
.profile-edit fieldset {
  width: 50%;
  margin: 30px auto 0;
}
.profile-edit fieldset label {
  font-family: 'Fjalla One', sans-serif;
  color: #008BD4;
  font-size: 20px;
  font-size: 16px;
  margin: 15px 0 0;
  display: inline-block;
}
.profile-edit fieldset input {
  border: 1px solid #008BD4;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  color: #008BD4;
  padding: 4px 4px;
  width: 90%;
}
.profile-edit fieldset #remember {
  display: inline-block;
  width: 20px;
  margin-top: 4px;
}
.profile-edit button {
  background-image: none;
  background-color: #016CBC;
  border: 0;
  padding: 6px 20px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  margin-top: 12px;
}
.profile-edit button:hover {
  opacity: 0.8;
  transition: all 0.3s;
}
