<table class="balance-historicos_ext azul">
	<tbody>
		<tr>
			<td class="b_azul" rowspan="2">Activo</td>
			<td class="b_azul" rowspan="2">2010</td>
			<td class="b_azul" rowspan="2">2011</td>
			<td class="b_azul" rowspan="2">2012</td>
			<td class="b_azul" rowspan="2">Diciembre 2013</td>
			<td class="b_azul_variaciones" colspan="3">Variación</td>
		</tr>
		<tr>
			<td class="b_azul_variaciones" >11-12</td>
			<td class="b_azul_variaciones" >12-11</td>
			<td class="b_azul_variaciones" >13-12</td>
		</tr>
		<tr>
			<td>Ingresos Operacionales</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>Costo de ventas</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>￼￼GASTOS DE ADMÓN Y VENTAS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>￼￼GASTOS DE ADMÓN Y VENTAS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>DEPRECIACIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>AMORTIZACIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>PROVISIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>		
		<tr>
			<td class="fila_resaltada"> UTILIDAD OPERACIONAL</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>		

		<tr>
			<td>￼￼INGRESOS NO OPPERACIONALES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>FINANCIEROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>OTROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>￼￼GASTOS NO OPERACIONALES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>FINANCIEROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>OTROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>UTIL./PER. POR VENTA DE</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>				
		<tr>
			<td class="fila_resaltada">Total activo Corriente</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>UTIL./PER. DIFERENCIA EN</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>						
		<tr>
			<td>PROVISIÓN IMPUESTOS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>				
		<tr>
			<td>PROVISIÓN IMPUESTOS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>	
		<tr>
			<td>PROVISIÓN IMPUESTOS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>	
		<tr>
			<td>PROVISIÓN IMPUESTOS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>	
		<tr>
			<td>PROVISIÓN IMPUESTOS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>											
		<tr>
			<td class="fila_resaltada">￼￼UTILIDAD / PÉRDIDA NETA</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>		
		<tr>
			<td>VALORIZACIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>	
		<tr>
			<td class="fila_resaltada">￼TOTAL ACTIVO</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>		
		<tr>
			<td>CUENTAS DE ORDEN ACREEDORA</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>		
		<tr>												
		<tr>					
	</tbody>
</table>
<div class="clear"></div>
<div class="charts-info-general">
		<div id="composicion-balance"> </div>	
		<div id="composicion-activo"></div>
		<div id="evolucion-activo"></div>
</div>


<table class="balance-historicos_pasivo_ext azul">
	<tbody>
		<tr>
			<td class="b_azul" rowspan="2">Pasivo</td>
			<td class="b_azul" rowspan="2">2010</td>
			<td class="b_azul" rowspan="2">2011</td>
			<td class="b_azul" rowspan="2">2012</td>
			<td class="b_azul" rowspan="2">Diciembre 2013</td>
			<td class="b_azul_variaciones" colspan="3">Variación</td>
		</tr>
		<tr>
			<td class="b_azul_variaciones" >11-12</td>
			<td class="b_azul_variaciones" >12-11</td>
			<td class="b_azul_variaciones" >13-12</td>
		</tr>
		<tr>
			<td>Ingresos Operacionales</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>Costo de ventas</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>￼￼GASTOS DE ADMÓN Y VENTAS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>￼￼GASTOS DE ADMÓN Y VENTAS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>DEPRECIACIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>AMORTIZACIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>PROVISIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>		
		
		<tr>
			<td>￼￼INGRESOS NO OPPERACIONALES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>FINANCIEROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td class="fila_resaltada"> UTILIDAD OPERACIONAL</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>￼￼GASTOS NO OPERACIONALES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>FINANCIEROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td class="fila_resaltada"> UTILIDAD OPERACIONAL</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>		
		<tr>
			<td>OTROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>UTIL./PER. POR VENTA DE</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>				

		<tr>
			<td>UTIL./PER. DIFERENCIA EN</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>						
	
		<tr>
			<td class="fila_resaltada">Total Pasivo No Corriente</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>	
		<tr>
			<td class="fila_resaltada">Total Pasivo</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>				
	</tbody>
</table>
<div class="clear"></div>
<div class="charts-info-general">
		<div id="composicion-pasivo"></div>	
		<div id="evolucion-pasivo"></div>
</div>


<table class="balance-historicos_patrimonio_ext azul">
	<tbody>
		<tr>
			<td class="b_azul" rowspan="2">Patrimonio</td>
			<td class="b_azul" rowspan="2">2010</td>
			<td class="b_azul" rowspan="2">2011</td>
			<td class="b_azul" rowspan="2">2012</td>
			<td class="b_azul" rowspan="2">Diciembre 2013</td>
			<td class="b_azul_variaciones" colspan="3">Variación</td>
		</tr>
		<tr>
			<td class="b_azul_variaciones" >11-12</td>
			<td class="b_azul_variaciones" >12-11</td>
			<td class="b_azul_variaciones" >13-12</td>
		</tr>
		<tr>
			<td class="fila_resaltada"> UTILIDAD OPERACIONAL</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>Costo de ventas</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>￼￼GASTOS DE ADMÓN Y VENTAS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>￼￼GASTOS DE ADMÓN Y VENTAS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>DEPRECIACIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>AMORTIZACIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>PROVISIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>		
		
		<tr>
			<td class="fila_resaltada"> UTILIDAD OPERACIONAL</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>FINANCIEROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>

		<tr>
			<td>￼￼GASTOS NO OPERACIONALES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>FINANCIEROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>					
	
		<tr>
			<td class="fila_resaltada">Total Patrimonio</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>	
		<tr>
			<td class="fila_resaltada">Total Pasivo Patrimonio</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>				
	</tbody>
</table>

<table class="resumen_estadistica resultado_historico_resumen">
	<tbody>
		<tr>
			<td>Utilidades Distribuidos</td>
			<td>0</td>
			<td>1</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Utilidades Capitalizadas </td>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>0</td>
		</tr>	
		<tr>
			<td>Aumentos de Capital</td>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>0</td>
		</tr>	
		<tr>
			<td>Diferencia en balance</td>
			<td>0</td>
			<td>1</td>
			<td>0</td>
			<td>0</td>
		</tr>												
	</tbody>
</table>
<div class="clear"></div>
<div class="charts-info-general">
		<div id="composicion-patrimonio"></div>	
		<div id="evolucion-patrimonio"></div>
</div>
