<table class="indicadores_actividad azul">
	<tbody>
		<tr>
			<td colspan="5"> <span class="oscuro_centrado">Indicadores de actividad</td>
		</tr>
		<tr>
			<td class="b_azul">Indicadores</td>
			<td class="b_azul">2010</td>
			<td class="b_azul">2011</td>
			<td class="b_azul">2012</td>
			<td class="b_azul">Diciembre 2013</td>
		</tr>

		<tr>
			<td>Rotación de Cartera Bruta</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Costo de ventas</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Ingresos Operacionales</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Costo de ventas</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Ingresos Operacionales</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Rotación Activos</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>				
	</tbody>
</table>

<div class="clear"></div>
<div class="charts-info-general">
		<div id="indicador-rotcxc" class="contiene_charts" ></div>	
		<div id="indicador-rotinv" class="contiene_charts" ></div>
		<div id="indicador-rotcxp" class="contiene_charts" ></div>
</div>


<table class="indicadores_liquidez azul">
	<tbody>
		<tr>
			<td colspan="5"> <span class="oscuro_centrado">Indicadores de Liquidez</td>
		</tr>
		<tr>
			<td class="b_azul">Indicadores</td>
			<td class="b_azul">2010</td>
			<td class="b_azul">2011</td>
			<td class="b_azul">2012</td>
			<td class="b_azul">Diciembre 2013</td>
		</tr>

		<tr>
			<td>Capital de trabajo</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Razón de Corriente</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Prueba Acida</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Ciclo de Efecticvo (Días) </td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
			
	</tbody>
</table>

<div class="clear"></div>
<div class="charts-info-general">
		<div id="indicador-capital-trabajo" class="contiene_charts" ></div>	
		<div id="indicador-ciclo-efect" class="contiene_charts" ></div>
</div>



<table class="indicadores_rentabilidad azul">
	<tbody>
		<tr>
			<td colspan="5"> <span class="oscuro_centrado">Indicadores de Liquidez</td>
		</tr>
		<tr>
			<td class="b_azul">Indicadores</td>
			<td class="b_azul">2010</td>
			<td class="b_azul">2011</td>
			<td class="b_azul">2012</td>
			<td class="b_azul">Diciembre 2013</td>
		</tr>

		<tr>
			<td>Rentabilidad Sobre Patrimonio</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Rentabilidad Sobre Activos</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Roic</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td>Margen Bruto</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Margen Operacional</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Margen Neto</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
			
	</tbody>
</table>

<div class="clear"></div>
<div class="charts-info-general">
		<div id="indicador-rentabilidad-patrimonio" class="contiene_charts" ></div>	
		<div id="indicador-rentabilidad-activos" class="contiene_charts" ></div>
		<div id="indicador-roic" class="contiene_charts" ></div>	
		<div id="indicador-margen-bruto" class="contiene_charts" ></div>	
		<div id="indicador-margen-operacional" class="contiene_charts" ></div>
		<div id="indicador-margen-neto" class="contiene_charts" ></div>				
</div>


<table class="indicadores_endeudamiento azul">
	<tbody>
		<tr>
			<td colspan="5"> <span class="oscuro_centrado">Indicadores de Endeudamiento</td>
		</tr>
		<tr>
			<td class="b_azul">Indicadores</td>
			<td class="b_azul">2010</td>
			<td class="b_azul">2011</td>
			<td class="b_azul">2012</td>
			<td class="b_azul">Diciembre 2013</td>
		</tr>

		<tr>
			<td>ENDEUDAMIENTO TOTAL</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>ENDEUDAMIENTO FINANCIERO</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>END. TOTAL SIN VALORIZACIONES</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>UTILIDAD OPERACIONAL / GASTO FINANCIERO</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>Ingresos Operacionales</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>EBITDA</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>	
		<tr>
			<td>EBITDA / GASTO FINANCIERO</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>MARGEN EBITDA</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>LEVERAGE (Activo / Patrimonio)</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>LEVERAGE FINANCIERO</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>EBIDA</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>EBIDA / GASTO FINANCIERO</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>(OBLI. FIN, BONOS Y PAPELES CP y LP) / EBITDA</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>
		<tr>
			<td>FCL/SERVICIO DE LA DEUDA</td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
			<td>  <span class="val_t_indicadores">123.154</span>  <span class="pordentajes_t_indicadores"> 100%</span></td>
		</tr>								
	</tbody>
</table>

<div class="clear"></div>
<div class="charts-info-general">
		<div id="indicador-endeudamiento-total" class="contiene_charts" ></div>	
		<div id="indicador-endeudamiento-financiero" class="contiene_charts" ></div>
		<div id="indicador-utilidad-operacional" class="contiene_charts" ></div>
		<div id="indicador-levarege-financiero" class="contiene_charts" ></div>	
		<div id="indicador-obl-finaciera" class="contiene_charts" ></div>	
</div>