<table class="resultados-historicos_ext azul">
	<tbody>
		<tr>
			<td> <span class="oscuro_centrado">Ingresos Mensuales</td>
			<td> <span class="oscuro_centrado">41,297</td>
			<td> <span class="oscuro_centrado">47.500</td>
			<td> <span class="oscuro_centrado">45.392</td>
			<td> <span class="oscuro_centrado">44.234</td>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td class="b_azul" rowspan="2">Cuentas</td>
			<td class="b_azul" rowspan="2">2010</td>
			<td class="b_azul" rowspan="2">2011</td>
			<td class="b_azul" rowspan="2">2012</td>
			<td class="b_azul" rowspan="2">Diciembre 2013</td>
			<td class="b_azul_variaciones" colspan="3">Variación</td>
		</tr>
		<tr>
			<td class="b_azul_variaciones" >11-12</td>
			<td class="b_azul_variaciones" >12-11</td>
			<td class="b_azul_variaciones" >13-12</td>
		</tr>
		<tr>
			<td>Ingresos Operacionales</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>Costo de ventas</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td class="fila_resaltada"> Utilidad Bruta </td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>￼￼GASTOS DE ADMÓN Y VENTAS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>DEPRECIACIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>AMORTIZACIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>PROVISIONES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>		
		<tr>
			<td class="fila_resaltada"> UTILIDAD OPERACIONAL</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>		

		<tr>
			<td>￼￼INGRESOS NO OPPERACIONALES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>FINANCIEROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>OTROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>￼￼GASTOS NO OPERACIONALES</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>FINANCIEROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">13%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>OTROS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>UTIL./PER. POR VENTA DE</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>				
		<tr>
			<td>UTIL./PER. POR MÉTODO DE</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>
		<tr>
			<td>UTIL./PER. DIFERENCIA EN</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>					
		<tr>
			<td class="fila_resaltada"> UTILIDAD NETA ANTES D</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>		
		<tr>
			<td>PROVISIÓN IMPUESTOS</td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td>  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td><span class="porcentaje_variaciones">15%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>	
		<tr>
			<td class="fila_resaltada">￼￼UTILIDAD / PÉRDIDA NETA</td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada">  <span class="val_t_historicos">123.154</span>  <span class="pordentajes_t_historicos"> 100%</span></td>
			<td class="fila_resaltada"><span class="porcentaje_variaciones">13%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
			<td class="fila_resaltada"> <span class="porcentaje_variaciones_negativo"> -10%</span></td>
		</tr>					
	</tbody>
</table>
<div class="clear"></div>
<div class="charts-info-general">
		<div id="evolucion_ventas_columas"> </div>	
		<div id="evolucion-margen-br"></div>
		<div id="evolucion-margen-op"></div>
		<div id="evolucion-margen-nt"></div>
</div>